@import 
url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body {
    background-color:whitesmoke ;
    font-family: sans-serif;
}
.course {
    background-color: rgb(218, 236, 237);
    border-radius: 10px;
    box-shadow: 0px 10px 10px 
    rgba (0,0,0,.2);
    display: flex;
    max-width: 100%;
    overflow: hidden;
    width: 1000px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
    /* .course h4 {
        opacity: .6;
        letter-spacing: 1px;
        text-transform: uppercase;
} */
/* .course h2 {
    letter-spacing: 1px;
    margin: 10px 0; */

/* } */
.preview {
    background: rgb(218, 236, 237);
    color: blue;
    padding: 5px;
    width: 250px;
    position: relative;
    margin: auto;
    display: block;
}
/* .preview a {
    color: black;
    font-size: 12px;
    opacity: .6;
    margin-top: 30px;
    text-decoration: none; */
/* } */
.info
{
    padding: 5px;
    position: relative;
    width: 100%;


}
.progress-wrapper {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    width: 150px;

}
.progress {
    background: yellow;
    border-radius: 3px;
    height: 5px;
    width: 100%;

}
.progress::after {
    content: '';
    border-radius: 3px;
    background: green;
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 36%;

}
.progress-text {
font-size: 10px;
opacity: .6;
letter-spacing: 1px;
}
.info p {
    font-size: 12px;
    font-weight: bold;
}
.btn {
background: rgb(100, 202, 207);
border: 1px solid transparent;
box-shadow: 0px 5px 10px
rgba(0, 0, 0, .2);
color: white;
font-size: 16px;
padding: 10px 20px;
position: absolute;
bottom: 40px;
right: 30px;
letter-spacing: 1px;
cursor: pointer;
transition: all .4s ease-in-out;
font-weight: bold;
border-radius: 30px;
}
.btn:hover {
    background: #fff;
    color: black;
    border: 1px solid  rgb(100, 202, 207);
    transform: scale(1.05);
}
@media(max-width:768px) {
.course {
    flex-direction: column;
    width: 90%;
}
.preview {
    width: 100%;
    display: block;
    text-align: center;
    
 }
 .preview img {
    width: auto;
    height: auto;
 }

/* .preview h2 {
    margin: 10px 0  0; 
}
.preview a
{
    margin-top:10px ;
}  */
.info h2 {
    margin-top: 20px;
}
.ınfo p {
    margin-bottom: 50px
}
.btn {
    padding: 10px 15px;
    float: right;
    font-size: 14px;

}
}
.img{
    height:auto;
    width: 240px;
    border-radius: 10px 10px 10px 10px;

}
h6 {
    color: yellow;
}